.main {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    display: block;
  }
}

.degrees{
    margin-left: 61px;
    margin-bottom: 20px;
    @media screen and (max-width: 1000px) {
      margin-left: 20px;
      margin-bottom: 0;
    }
    
}

.degrees_now {
  font-weight: 700;
  font-size: 120px;
  line-height: 141px;
  color: #444444;
  margin: 0;
 
}

.min_max {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #444444;
  margin: 33px 0 0 0 ;
  @media screen and (max-width: 1000px) {

    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 310px;
  }
}

.max{
    margin: 0 0 24px 0;
}
.min{
    margin: 0;
}


.place {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #444444;
  margin: 30px 66px 33px 0;
  @media screen and (max-width: 1000px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;

  }
}

.place p{
margin: 0 0 33px 0;
}


