.find {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 523px;
  height: 50px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  padding-inline: 40px;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #444444;
  outline: none;

  @media screen and (max-width: 809px) {
    border-radius: 16px 0 0 16px;
  }

  @media screen and (max-width: 1000px) {
    min-width: 210px;
    max-width: 100%;
    padding-inline: 20px;
  }

}



button {
  width: 198px;
  height: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #131034;
  border-radius: 16px;
  border: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    max-width: 197px;
    
  }
  @media screen and (max-width: 809px) {
    border-radius: 0 16px 16px 0;
  }
}
