.tile{
    width: 399px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

}

.top_text{
    font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #444444;
margin: 23px 0 0 32px;
}

.bottom_text{
    font-weight: 700;
font-size: 48px;
line-height: 56px;
text-align: right;
margin: 44px 32px 24px 0;
color: #0085FF;
}