@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

.container{
    width: 821px;
    margin: 0 auto 20px auto;
    
    @media screen and (max-width: 1000px) {
        width: 350px;
      }
}

.list_tile{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 20px;
    margin: 0 0 82px 0;
    padding: 0;
}